services:
  cassandra:
    image: cassandra:latest
    container_name: cassandra-db
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_CLUSTER_NAME=TodoCluster

  redis:
    image: redis:latest
    container_name: redis-cache
    ports:
      - "6379:6379"