body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.Toastify__toast-container {
  width: 350px !important;
}


.Toastify__toast-icon {
  width: 22px !important;   
  height: 22px !important;  
  margin-top: 0px;
  flex-shrink: 0;           
}


.Toastify__toast-icon svg {
  width: 22px !important;
  height: 22px !important;
  display: block;
}


.Toastify__toast-body {
  align-items: center !important;
  padding: 8px !important;
  font-size: 14px !important;
}


.Toastify__toast-body > div:last-child {
  padding-left: 10px;
}