.gradient-custom-dark {
  background: #2B3035; /* Usklađeno sa Navbarom */
}

.profile-card {
  box-shadow: 0 10px 30px rgba(0,0,0,0.1) !important;
}

.card-body h6 {
  color: #2B3035;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

/* Stil za Scoreboard/Rang listu */
.scoreboard-rank {
    font-size: 2rem;
    font-weight: 900;
    color: #ffd700; /* Zlatna za prvo mesto */
}